@using BinaryStarTechnology.CharityEventRevenueMgmtClasses
@using VLV2014Test.Models
@model BinaryStarTechnology.CharityEventRevenueMgmtClasses.RevenueItems

<ul>
    @if (Model == null || Model.Count <= 0)
    {
        <li data-srcpreview="../images/red1.jpg">
            <div>
                <div class="content">
                    <img src="../images/red_wine.jpg" alt="">
                    <h3>List of auction items is not yet available</h3>
                    <p>Please check back later.</p>
                </div>
            </div>
        </li>
    }
    else
    {
        foreach (RevenueItem item in Model)
        {
            @Html.Partial("DisplayAuctionItemInfo", item)
        }
    }
</ul>


