@model BinaryStarTechnology.CharityEventRevenueMgmtClasses.AuctionGroup
@using BinaryStarTechnology.CharityEventRevenueMgmtClasses
@using VLV2014Test.Models

@{
    ViewBag.Title = "AuctionItems";
    MenuItems menuItems = VLV2014Test.Controllers.HomeController.menuItems;
}

<div id="TMGPrototype2">
    <div class="ic"></div>
    <h1><a href="index.cshtml"><img src="../images/VivaLaVinoSmaller.jpg" alt="@Model.EventID.EventName"></a></h1>
    <ul class='sets'>
        @foreach(RevenueItems group in Model)
        {
        <li data-setname="@group.RevenueType">
            @Html.Partial("DisplayAuctionItems",group)
        </li>
           
        }
    </ul>
</div>

@section TopTabs
{
    @{Html.RenderPartial("MenuLine", menuItems);}
}

@section Scripts
{
    <script>
        $(window).load(function () {
            $('#TMGPrototype2').TMGPrototype2({});
        });
    </script>
}