@using BinaryStarTechnology.CharityEventRevenueMgmtClasses
@using VLV2014Test.Models
@model FoodsView

@{
    ViewBag.Title = "Foods";
    MenuItems menuItems = VLV2014Test.Controllers.HomeController.menuItems;
}

		<div id="TMGPrototype2"><div class="ic"></div>
			<h1><a href="index.cshtml"><img src="../images/VivaLaVinoSmaller.jpg" alt="@Model.EventID.EventName"></a></h1>
			<ul class='sets'>
                @foreach (WebPageItems foodTable in Model.FoodsToShow)
                {
                    <li data-setname="@foodTable.SectionName()">
                        <ul>
                            @foreach (WebPageItem food in foodTable)
                                {
                                    { Html.RenderPartial("ULsection", food); }
                                }
                            }
                        </ul>
                    </li>
                }
			</ul>
		</div>

@section ScrolllingSponsors
{
    @{Html.RenderPartial("ScrollingSponsors", Model.AllSponsors);}
}

@section Variables
{
    <script>
        var AutoPlayInterval = 4000;
        var AutoPlay = true;
    </script>
}

@section TopTabs
{
    @{Html.RenderPartial("MenuLine", menuItems);}
}

@section Scripts
{
    <script>
        $(window).load(function () {
            $('#TMGPrototype2').TMGPrototype2({});
            if ($('#sponsors').length) {
                $('#sponsors').scrollbox(
                    {
                        direction: 'h',
                        distance: 50,
                        switchItems: 1
                        @(Model.AllSponsors.LogoCount() <= 1 ? ",autoPlay: false" : "")
                    }
                );
            }
        });
    </script>
}