
@{
    ViewBag.Title = "PurchaseTicket";
}

<div id="TMGPrototype2">
    <div class="ic"></div>
    <h1><a href="index.cshtml"><img src="../images/VivaLaVinoSmaller.jpg" alt="Viva La Vino 2014"></a></h1>
    <ul class='sets'>
        <li data-setname="Ticket(s)">
            <ul>
                <li data-srcpreview="../images/dreamstime_s_1890011.jpg">
                    <div class="content">
                        <h3 style="font-weight:bold">
                            <a href="http://events.constantcontact.com/register/event?llr=8kyl96lab&oeidk=a07e925m32731522af0" target="_blank">
                                <span style="text-decoration:underline">Click here to purchase your tickets.</span>
                            </a>
                        </h3>
                        <p style="font-weight:bold; font-size:larger">Please read below before purchasing:</p>
                        <p>
                            Rotary Club of Troy uses Constant Contact and PayPal for credit card purchases, but you don't need a PayPal account.
                            Just use your credit card.                        
                        </p>
                        <p>
                            To purchase multiple tickets for this event, simply enter the info for your ticket and then continue down the web
                            page to click the “Add” button for more people.
                        </p>
                        <p>
                            If paying by check, click the “Pay by Check” radio button on the order form and then send a check to Troy Rotary Foundation
                            at PO Box 4544, Troy, Michigan 48099. Your tickets will be noted as unpaid until the check clears. Please allow about 7 days
                            for check processing.
                        </p>
                    </div>
                </li>
            </ul>
        </li>
    </ul>
</div>

@section Scripts
{
    <script>
        $(window).load(function () {
            $('#TMGPrototype2').TMGPrototype2({});
        });
    </script>
}
