
@{
    ViewBag.Title = "PurchaseTicket";
}

<div id="TMGPrototype2">
    <div class="ic"></div>
    <h1><a href="index.cshtml"><img src="../images/VivaLaVinoSmaller.jpg" alt="Viva La Vino 2014"></a></h1>
    <ul class='sets'>
        <li data-setname="Ticket(s)">
            <ul>
                <li data-srcpreview="../images/dreamstime_s_1890011.jpg">
                    <div class="content">
                        <h3 style="font-weight:bold">
                            <a href="http://events.constantcontact.com/register/event?llr=8kyl96lab&oeidk=a07e925m32731522af0" target="_blank">
                                <span style="text-decoration:underline">Click here to purchase your tickets.</span>
                            </a>
                        </h3>
                        <p style="font-weight:bold; font-size:larger">Please read below before purchasing:</p>
                        <p>
                            Rotary Club of Troy is using ConstantContact to handle ticket purchases.
                            This uses PayPal for credit card purchases, whether using a PayPal account or just using your credit card
                            without a PayPal account.
                        </p>
                        <p>
                            You may purchase 1 or more tickets at Constant Contact for the event.  When you have finished entering the information
                            for your ticket, continue down the web page to where you can click the button to "Add" another person.
                        </p>
                        <p>
                            You may also pay by check by noting at time you purchase your tickets online that you wish to pay by check.
                            Then send a check to Troy Rotary.  Your tickets will be noted as unpaid until the check clears.  You need
                            to allow enough time, roughly 7 days, for processing if you mail the check.
                        </p>
                    </div>
                </li>
            </ul>
        </li>
    </ul>
</div>

@section Scripts
{
    <script>
        $(window).load(function () {
            $('#TMGPrototype2').TMGPrototype2({});
        });
    </script>
}
