@using BinaryStarTechnology.CharityEventRevenueMgmtClasses
@model BinaryStarTechnology.CharityEventRevenueMgmtClasses.IEvent

@{
    ViewBag.Title = "PurchaseTicket";
    MenuItems menuItems = VLV2014Test.Controllers.HomeController.menuItems;
}

<div id="TMGPrototype2">
    <div class="ic"></div>
    <h1><a href="index.cshtml"><img src="../images/VivaLaVinoSmaller.jpg" alt="@Model.EventName"></a></h1>
    <ul class='sets'>
        <li data-setname="Ticket(s)">
            <ul>
                <li data-srcpreview="../images/dreamstime_s_1890011.jpg">
                    <div class="content">
                        <h3 style="font-weight:bold">
                            <a href="http://events.constantcontact.com/register/event?llr=8kyl96lab&oeidk=a07eaoar8ecfd1e39c2" target="_blank">
                                <span style="text-decoration:underline">Click here to purchase your tickets.</span>
                            </a>
                            <!-- span style="font-weight:bold;font-size:16">Tickets are not available at this time.  Please check back.</!span> -->
                        </h3>
                        <p style="font-weight:bold; font-size:larger">Please read below before purchasing:</p>
                        <p>
                            Rotary Club of Troy is using ConstantContact to handle ticket purchases.
                            Constant Contact uses PayPal for credit card purchases, although you don't need a PayPal account to pay, just a credit card.
                        </p>
                        <p>
                            You may purchase 1 or more tickets for $75 per person or $100 per Patron at Constant Contact for the event.  When you have finished entering the information
                            for your ticket, continue down the web page to where you can click the button to "Add" another person.
                        </p>
                        <p>
                            If paying by check, just click the “Pay by Check” radio button on the order form. Then send a check to Troy Rotary Foundation
                            at PO Box 4544, Troy, Michigan 48099. Your tickets will be noted as unpaid until the check clears. Please allow about 7 days
                            for check processing, once you mail it.
                        </p>
                    </div>
                </li>
            </ul>
        </li>
    </ul>
</div>

@section TopTabs
{
    @{Html.RenderPartial("MenuLine", menuItems);}
}

@section Scripts
{
    <script>
        $(window).load(function () {
            $('#TMGPrototype2').TMGPrototype2({});
        });
    </script>
}
