@using BinaryStarTechnology.CharityEventRevenueMgmtClasses
@using VLV2014Test.Models
@model BinaryStarTechnology.CharityEventRevenueMgmtClasses.Sponsors
@{
    ViewBag.Title = "Sponsors";
    string link=null;
    MenuItems menuItems = VLV2014Test.Controllers.HomeController.menuItems;
}

<div id="TMGPrototype2">
    <div class="ic"></div>
    <h1><a href="index.cshtml"><img src="../images/VivaLaVinoSmaller.jpg" alt="Viva La Vino 2014"></a></h1>
    <ul class='sets'>
        <li data-setname="Sponsors">
            <ul>
                @if (Model == null || Model.Count <= 0)
                {
                    TabSectionView sec1 = new TabSectionView("../images/red1.jpg",  // pictureLink1
                                                "../images/red_wine.jpg",     // pictureLink2
                                                "Sponsors",
                                                "",
                                                "To be updated.",
                                                "",
                                                "",
                                                "",
                                                "",
                                                "",
                                                "",
                                                "");
                    { Html.RenderPartial("ULsection", sec1); }
                }
                else
                {
                    foreach (Sponsor sponsor in Model)
                    {
                        if (sponsor.SponsorImage != null && sponsor.SponsorImage.Image != null)
                        {
                            link = "<a href=\"" + sponsor.SponsorImage.Link + "\" target=\"_blank\"><img src=\"" + sponsor.SponsorImage.Image + "\" alt=\"\"></a>";
                            
                        }
                        else
                        {
                            link = "<img src=\"../images/Image_Not_Available.jpg\" alt=\"\">";
                        }
                        TabSectionView sec1 = new TabSectionView("../images/red1.jpg",  // pictureLink1
                                                    "../images/red_wine.jpg",     // pictureLink2
                                                    sponsor.SponsorLevel + " Level Sponsor",
                                                    sponsor.SponsorName,
                                                    link,
                                                    "",
                                                    sponsor.SponsorSecondLine,
                                                    "<p style=\"font-size:12pt\"><a href=\"" + "\" target=\"_blank\" >Website</a></p>",
                                                    "",
                                                    "",
                                                    "",
                                                    "");
                        { Html.RenderPartial("ULsection", sec1); }
                    }
                }
            </ul>
        </li>
        <li data-setname="Forms">
            <ul>
                <li>
                    <div class="content">
                        <h3>
                            <span style="text-decoration:underline">@Html.ActionLink("Click Here to Download Sponsor Form", "SponsorForm")</span>
                        </h3>
                    </div>
                </li>
            </ul>
        </li>
    </ul>
</div>

@section TopTabs
{
    @{Html.RenderPartial("MenuLine", menuItems);}
}

@section Scripts
{
    <script>
        $(window).load(function () {
            $('#TMGPrototype2').TMGPrototype2({});
        });
    </script>
}
