@using BinaryStarTechnology.CharityEventRevenueMgmtClasses
@using VLV2014Test.Models
@model SponsorsView
@{
    ViewBag.Title = "Sponsors";
    string link=null;
    MenuItems menuItems = VLV2014Test.Controllers.HomeController.menuItems;
}

<div id="TMGPrototype2">
    <div class="ic"></div>
    <h1><a href="index.cshtml"><img src="@Model.EventID.EventLogo.Image" alt="@Model.EventID.EventName"></a></h1>
    <ul class='sets'>
        @foreach (WebPageItems sponsors in Model.SponsorsGrouping)
        {
            <li data-setname="@sponsors.SectionName()">
                <ul>
                    @foreach (WebPageItem sponsor in sponsors)
                    {
                    { Html.RenderPartial("ULsection", sponsor); }
                    }
                </ul>
            </li>
        }
        <li data-setname="Forms">
            <ul>
                <li>
                    <div class="content">
                        <h3>
                            <span style="text-decoration:underline">@Html.ActionLink("Click Here to Download Sponsor Form", "SponsorForm")</span>
                        </h3>
                    </div>
                </li>
            </ul>
        </li>
    </ul>
</div>

@section Variables
{
    <script>
        var AutoPlayInterval = 4000;
        var AutoPlay = true;
    </script>
}

@section TopTabs
{
    @{Html.RenderPartial("MenuLine", menuItems);}
}

@section Scripts
{
        <script>
        $(window).load(function () {
            $('#TMGPrototype2').TMGPrototype2({});
        });
    </script>
}
