@using BinaryStarTechnology.CharityEventRevenueMgmtClasses
@using VLV2014Test.Models
@model WinesView
@{
    ViewBag.Title = "Wines";
    string link = null;
    MenuItems menuItems = VLV2014Test.Controllers.HomeController.menuItems;
}

<div id="TMGPrototype2">
    <div class="ic"></div>
    <h1>
        <p><a href="@Model.EventID.EventLogo.Link"><img src="@Model.EventID.EventLogo.Image" alt="@Model.EventID.EventName" /></a></p>
    </h1>
    @foreach (WebPageItems items in Model.WineGroups)
    {
        <ul class='sets'>
            <li data-setname="@items.SectionName()">
                <ul>
                    @foreach (WebPageItem wine in items)
                    {
                        {Html.RenderPartial("ULsection", wine);}
                    }
                </ul>
            </li>
        </ul>
    }
    </div>

@section TopTabs
{
    @{Html.RenderPartial("MenuLine", menuItems);}
}

@section Variables
{
    <script>
        var AutoPlayInterval = 4000;
        var AutoPlay = true;
    </script>
}

@section Scripts
{
    <script>
        $(window).load(function () {
            $('#TMGPrototype2').TMGPrototype2({});
        });
    </script>
}