<!DOCTYPE html>
@{
    string logonID = User.Identity.Name;
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Registered</title>
</head>
<body>
    <div>
        <p>
            Thank you @logonID for creating your logon and password.  As a suggestion, write down the logon ID and password on your printed tickets and
            bring with you to the event.
        </p>
        <p>See you at VLV 2014!</p>
    </div>
</body>
</html>
